<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="remotevideoplayer.settings" type="RemoteVideoPlayer.Configuration.RemoteVideoPlayerSection, RemoteVideoPlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <remotevideoplayer.settings>
		<movieFolders>
			<clear />
			<folder path="d:\Video" />
		</movieFolders>
        <currentMovies>
            <clear />
            <movie path="d:\Video\Metallica Live S&amp;M HD Full Concert (Subtitulos Español).mp4"
                position="0:00:30" />
            <movie path="d:\Video\Metallica - Full Concert San Francisco 2017 (PROSHOT).mp4"
                position="0:00:15" />
        </currentMovies>
    </remotevideoplayer.settings>
    <appSettings>
        <add key="currentFolder" value="" />
		<add key="queueName" value=".\private$\RemoteVideoPlayerQueue" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />-->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="RemoteVideoPlayer.VideoServer">
                <endpoint address="net.msmq://grachoffhome/private/RemoteVideoPlayerQueue" binding="netMsmqBinding" bindingConfiguration="RemoteVideoPlayerMsmqBinding" contract="RemoteVideoPlayer.WCF.IRemoteVideoPlayerService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/Design_Time_Addresses/RemoteVideoPlayer/RemoteVideoPlayerService/" />
                    </baseAddresses>
                </host>-->
            </service>
        </services>
		<bindings>
			<netMsmqBinding>
				<binding name="RemoteVideoPlayerMsmqBinding" timeToLive="00:00:05" deadLetterQueue="None" maxRetryCycles="0" receiveRetryCount="0" >
					<security mode="None" />
				</binding>
			</netMsmqBinding>
		</bindings>
    </system.serviceModel>
</configuration>